body {
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-footer{
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

